@charset "UTF-8";

.body {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	color: 	#BFBFBF
			#c59292
			#FFB3B3
			#FFFFFF
			#805959
			#CCCCCC
			rgb(28, 240, 28)
			rgb(10, 124, 10);
}
main {
	

	
}

.titulo {
	background-color: #BFBFBF;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px;
	text-align:center;
}

h1, p {
	text-align: center;
	padding-bottom: 10px;
}
input {
	background-color:#CCCCCC;
	border-radius: 6px;
}

.galao1 {
	float: right
}

.gato {
	float: right
}

.camelo {
	float: right
}

.primeiro{
	background-color:	#FFB3B3;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px ;
	text-align:center;
   
}
.segundo{
	background-color:#CCCCCC;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px;
	text-align:center;
	
}
.terceiro{
	background-color:#805959;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px ;
	text-align:center;

}
.quarto {
	background-color:#c59292;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px ;
	text-align:center;

}

.foto{
	padding-bottom: px;

}
img {
	border: #CCCCCC;
	border-radius: 20%;
	padding-bottom: px;

	
}

button{
	background-color: rgb(10, 124, 10);
	border-radius: 6px;
	border:  12px solid transparent;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 20px;
	
}
button:hover{
	background-color: rgb(28, 240, 28);


}

footer, div.rodaPe {

	background-color:black;
	color: #BFBFBF;
	font-size: 12px;
	margin-left: 25%;
	padding: 5px;
    width: 50%;
    height: 27%;
    border-radius: 6px;
	

}




